* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
/* display:flex  -- turns it into a flexbox container so we can align the logo and nav links side by side */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* add "a" to focus on links in nav */
.nav-links a {
    color : white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #1f2937;
    color: white;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882f6;
    color: white;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    width: 40%;
    background-color: #6b7280;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
}

.info {
    padding: 60px 10%;
    text-align: center;
}

.info h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 15px;
}
.info-box p {
    font-size: 14px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 80px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

.quote-text {
    font-style: italic;
    font-size: 24px;
    color: #1f2937
}

}
.quote-author {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

.quote-container {
    max-width: 800px;
}

.signup {
    background-color: #3882f6;
    padding: 50px 10%;
    margin: 60px 10%;
    border-radius: 10px;
    color: white;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signup-text h3 {
    font-size: 24px;
    font-weight: bold;
}

.signup-text p {
    font-size: 16px;
    margin-top: 5px;
}
.signup-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: 30px 0;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
}

